.navbar{
    background-color: $color-titulo-s2;
    li a{
    	color: $color-titulos;
    }
}

#nav-porta{
	color: $color-titulo-s2;
}
section{
	margin-left: $margen-fondo;
	margin-right: $margen-fondo;
}
/*seccion1*/
.descripcion-1{
	p{
		font-size: $parrafo_principal;
		color:$color_descripciones;
		line-height: $espacio_parrafo_principal;
		padding-top: $padding-descripcion;
	}
}

.responsive,
.quality,
.support{
	h4{
		font-family: $font-titulos;
		color: $color-titulos;
		font-size: $tamaño-titulos-s1;
		font-weight: $negrita;
	}
	p{
		color: $color_descripciones;
		font-size: $descripcion;
		padding-bottom: $padding-descripcion;
		

	}
	.icon-responsive{
		color: $color-icon-responsive;
		font-size: $tamaño-icon-s1;
	}
	.icon-quality{
		color:$color-icon-quality;
		font-size: $tamaño-icon-s1;
	}
	.icon-support{
		color: $color-icon-support;
		font-size: $tamaño-icon-s1;
	}
}

/*seccion2*/
.city{
	position:$posicion-img;
	padding: $padding-descripcion;
}

.city{
	background-image: url("../img/img_city.jpg");
	position: $posicion-img;

	h4{
		font-size: $titulo-s2;
		color: $color-titulo-s2;
		font-family: $font-titulos;
		font-weight: $negrita;
	}
	p{
		color:$color-titulo-s2;
		font-size: $texto-descripcion-s2;
		font-family: $font-descripcion;
	}
}

/*seccion3*/
.products{ 
		background-color: $color_fondo;

	.productos{

		h4{
			font-size: $titulo-s2;
			font-family: $font-titulos;
			font-weight: $negrita;
			color:$color-titulos;
			padding-top: $padding-descripcion;
		}
		p{
			font-size: $parrafo_principal;
			color:$color_descripciones;
		}
	
	}
}

#img-products1,
#img-products2,
#img-products3,
#img-products4{
		border-radius: $radio-img;
		box-shadow: $sombra-img;
}

.info-producto{
	h6{
		color: $color-titulo-producto;
		font-weight: $negrita;
		padding-top: $padding-producto;
	}

	h5{
		font-family: $font-titulos;
		color: $color-titulos;
		font-size: $tamaño-titulos-s1;
		font-weight: $negrita;
	}

	p{
		color: $color_descripciones;
		font-size: $descripcion-producto;
		padding-bottom: $padding-descripcion;
		line-height: $espacio_parrafo_principal;
	}
}

.precio{
	p{
		color:$color-precio;
		font-size: $tamaño-precio;
	}
}

.icon-precio{
	i{
		color:$color_descripciones;
		margin-top: $margen;
	}
}

/*seccion4*/

.fotos-portafolio{
	h4{
		font-size: $titulo-s2;
		font-family: $font-titulos;
		font-weight: $negrita;
		color:$color-titulos;
		padding-top: $padding-descripcion;
	}

	p{
		font-size: $parrafo_principal;
			color:$color_descripciones;
	}
}

.imagen-portafolio{
	border-radius: $radio-img;
		box-shadow: $sombra-img;

}

/*seccion5*/
.meet-team{
		h4{
			font-size: $titulo-s2;
			font-family: $font-titulos;
			font-weight: $negrita;
			color:$color-titulos;
			padding-top: $padding-descripcion;
		}
		p{
			font-size: $parrafo_principal;
			color:$color_descripciones;
		}
}

.card-team{
	margin-top: $padding-descripcion;


	img{
		border-radius: $radio-img;
		box-shadow: $sombra-img;

	}
	h5{
		font-family: $font-titulos;
		color: $color-titulos;
		font-size: $tamaño-titulos-s1;
		font-weight: $negrita;
	}
	h6{
		font-size:$tamaño_profesion;
		font-weight: $negrita;
		color:$color_descripciones;
	}
	p{
		color: $color_descripciones;
		font-size: $descripcion-producto;
		line-height: $espacio_parrafo_principal;
	}
	a{
		padding-right: $padding_iconos;
		font-size: $tamaño_iconos;
	}
}

/*seccion6*/
.plan{
	background-color: $color_fondo;
	padding: $padding_s6;

}

.choose-plan{
		h4{
			font-size: $titulo-s2;
			font-family: $font-titulos;
			font-weight: $negrita;
			color:$color-titulos;
			padding-top: $padding-descripcion;
			line-height: $espacio_titulo;
		}
		p{
			color: $color_descripciones;
			font-size: $descripcion-producto;
			padding-bottom: $padding-descripcion;
			line-height: $espacio_parrafo_principal;
		}
}

.card-plan{
	margin-left: $margen-fondo;
	h6{
		font-size:$tamaño_profesion;
		color: $color_descripciones;

	}
	h1{
		font-size: $tamaño_num_plan;
		font-weight:$negrita;
		color: $color-titulos;
		.signo{
			font-size: $tamaño-titulos-s1;
			top: $top_arriba;
			position: $posicion-img;
			color: $color_descripciones;
		}
		.year{
			font-size: $tamaño-titulos-s1;
			color: $color_descripciones;
		}
	}
	p{
		font-size:$tamaño_texto_card;
		color: $color_descripciones;
		b{
			color:$color-titulos;
		}
	}
}