$navbar_color: transparent;
$parrafo_principal: 17px;
$color_descripciones: #999;
$espacio_parrafo_principal: 27px;
$descripcion: 16px;
$font-titulos: "Roboto Slab","Times New Roman",serif;
$color-titulos: #3c4858;
$color-icon-responsive: #e91e63;
$tamaño-icon-s1: 70px;
$color-icon-quality: #26bfd3;
$color-icon-support: #18ad33;
$padding-descripcion: 60px;
$tamaño-titulos-s1: 21px;
$negrita: bold;


$posicion-img: relative;
$titulo-s2: 38px;
$color-titulo-s2: #fff;
$texto-descripcion-s2: 17px;
$font-descripcion: 'Roboto', sans-serif;
$color_fondo: whitesmoke;

$radio-img: 6px;
$sombra-img: 1px 5px 10px #C0C3C1;
$color-titulo-producto: #e91e63;
$padding-producto: 20px;
$descripcion-producto: 14px;
$color-precio: #3c4858;
$tamaño-precio: 18px;
$margen:20px;

$tamaño_profesion: 13px;
$padding_iconos: 27px;
$tamaño_iconos: 17px;
$padding_s6: 75px;
$espacio_titulo: 60px;
