$navbar_color: transparent;
$parrafo_principal: 17px;
$color_descripciones: #999;
$espacio_parrafo_principal: 27px;
$descripcion: 16px;
$font-titulos: "Roboto Slab","Times New Roman",serif;
$color-titulos: #3c4858;
$color-icon-responsive: #e91e63;
$tamaño-icon-s1: 70px;
$color-icon-quality: #26bfd3;
$color-icon-support: #18ad33;
$padding-descripcion: 60px;
$tamaño-titulos-s1: 21px;
$negrita: bold;


$posicion-img: relative;
$titulo-s2: 38px;
$color-titulo-s2: #fff;
$texto-descripcion-s2: 17px;
$font-descripcion: 'Roboto', sans-serif;
